.shopping-cart {
  font-size: 1.2rem;
  flex-grow: 1;
  background-image: linear-gradient(var(--secondery-color), var(--secondery-color), var(--background-color));
  box-shadow: none;
  transform: translateX(60rem);
  animation: getLeft 1.6s 1.4s forwards ease-out;

  &__title {
    @include title;
    margin-top: 12rem;
    font-size: 2.4rem;
    text-align: center;
  }
  &__products {
    max-height: 600px;
    //overflow-y: scroll;
  }

  .item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: moveLeft .8s .3s forwards;
    & > *:first-child {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: .4rem;
      }
    }
    &__info {
      display: flex;
      align-items: center;

      &--image {
        width: 4rem;
        height: 3.5rem;
        margin-right: 1rem;
      }
    }
    &__action {
      text-align: center;
      margin-right: 1.5rem;
    }
  }
  .item:nth-child(odd) {
    background-color: lightgrey;
  }
  .no-item {
    text-align: center;
    font-size: 1.5rem;
  }
  .total {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;

    &-price {
      font-weight: bold;
    }
  }
  
  .hide {
    animation: fadeOut .3s ease-in-out forwards;
  }
  .clear {
    transform: translateY(100px);
    transition: color .3s;
    cursor: pointer;
  }
  .clear:hover {
    color: red;
    text-decoration: underline;
  }
}

//@media only screen and (min-height: 600px) {
//  .shopping-cart__products {
//    overflow-y: scroll;
//  }
//}
@media only screen and (max-width: 1550px) {
  .shopping-cart {
    .total {
      bottom: 25rem;
      font-size: 1.6rem;
    }
  }
  .catalog {
    &__wrapper {
      transform: scale(1, .8) translateY(-115px);
    }
    &__title {
      font-size: 3rem;
    }
  }
}