:root {
  /*THEME COLORS*/
  --background-color: #fffff5;
  --primary-color: #ffda8e;
  --secondery-color: #80d4f64f;
  --third-color: #5c196b;
  --shadow: 0 1rem 2rem rgba(0,0,0, .2);
}


.xs-padding {
  padding: .6rem;
}